<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>deepl-translate</string>
	<key>connections</key>
	<dict>
		<key>6556B1F6-C583-4AD7-AAE2-980C3A714872</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71D1E640-12AD-4C61-B311-5A74F96332DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alexander Heimbuch</string>
	<key>description</key>
	<string>Translate English, German, French, Spanish, Italian, Dutch and Polish with deepL</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>deepl-translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>deepl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>TARGET_LANGUAGE=EN ./node_modules/.bin/run-node index.js "$(iconv -f UTF8-MAC &lt;&lt;&lt;"{query}")"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Translate ...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6556B1F6-C583-4AD7-AAE2-980C3A714872</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>71D1E640-12AD-4C61-B311-5A74F96332DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Workflow for https://www.deepl.com supporting translation of English, German, French, Spanish, Italian, Dutch and Polish.</string>
	<key>uidata</key>
	<dict>
		<key>6556B1F6-C583-4AD7-AAE2-980C3A714872</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>71D1E640-12AD-4C61-B311-5A74F96332DB</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/alexander-heimbuch/deepl-alfred-workflow</string>
</dict>
</plist>
